@import url("./variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.one, .five {
  background-color: var(--color-purple-500);
}

.two, .six {
  background-color: var(--color-white);
}

.three, .eight {
  background-color: var(--color-yellow-500);
}

.four {
  background-color: var(--color-purple-100);
}

.seven {
  background-color: var(--color-yellow-100);
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}