@import url("./variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

body {
  background-color: #F6F5F6;
}

.one, .five {
  background-color: var(--color-purple-500);
  border-radius: 10px;
  margin: 27px 13.5px 0 13.5px;
}

.two, .six {
  background-color: var(--color-white);
  border-radius: 10px;
  margin: 27px 13.5px 0 13.5px;
}

.three, .eight {
  background-color: var(--color-yellow-500);
  border-radius: 10px;
  margin: 27px 13.5px 0 13.5px;
}

.four {
  background-color: var(--color-purple-100);
  border-radius: 10px;
  margin: 27px 13.5px 0 13.5px;
}

.seven {
  background-color: var(--color-yellow-100);
  border-radius: 10px;
  margin: 27px 13.5px 0 13.5px;
}

.one__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px;
  color: var(--color-white);
}

.one__title {
  font-weight: var(--font-weight-medium);
  font-size: 46px;
  line-height: 42px;
  letter-spacing: -4%;
  text-align: center;
}

.one__title--highlight {
  color: var(--color-yellow-500);
}

.one__title--italic {
  font-style: italic;
}

.one__rating {
  max-height: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.two__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  color: var(--color-black);
}

.two__image {
  width: 100%;
  margin-bottom: 16px;
}

.two__text {
  font-weight: var(--font-weight-medium);
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -6%;
}

.three__content {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0 16px;
  color: var(--color-black);
}

.three {
  max-height: 216.25px;
  overflow: hidden;
}

.three__text {
  font-weight: var(--font-weight-medium);
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -6%;
  margin-bottom: 16px;
}

.three__image-wrapper {
  width: 208px;
  max-height: 157px;
  position: relative;
}

.three__image {
  width: 100%;
  height: 101%;
}

.four__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  color: var(--color-black);
  text-align: center;
}

.four__title {
  font-weight: var(--font-weight-medium);
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -6%;
  margin-bottom: 24px;
}

.four__image {
  width: 100%;
  margin-bottom: 24px;
}

.four__text {
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  padding: 0 16px;
}

.five__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  color: var(--color-white);
}

.five__image {
  width: 100%;
  margin-bottom: 40px;
  max-width: 228px;
}

.five__text {
  font-weight: var(--font-weight-medium);
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -6%;
  text-align: center;
}

.six__content {
  display: flex;
  flex-direction: column;
  color: var(--color-black);
  padding: 24px;
}

.six__title {
  font-weight: var(--font-weight-bold);
  font-size: 46px;
  line-height: 42px;
  letter-spacing: -4%;
  margin-bottom: 15px;
}

.six__text {
  font-weight: var(--font-weight-medium);
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  margin-bottom: 24px;
}

.six__image {
  width: 60%;
}

.seven__content {
  display: flex;
  flex-direction: column;
  padding: 32px;
  color: var(--color-black);
}

.seven__text {
  font-weight: var(--font-weight-medium);
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -6%;
  margin-bottom: 24px;
}

.seven__text--highlight {
  color: var(--color-purple-500);
  font-style: italic;
}

.seven__image {
  width: 60%;
}

.eight__content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  color: var(--color-black);
}

.eight__text{
  font-weight: var(--font-weight-medium);
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -6%;
  margin-bottom: 24px;
}

.eight__image {
  width: 60%;
}

.attribution {
  margin: 24px 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/************/
/* TABLET */
/************/

@media (min-width: 768px) {
  .container {
    display: grid;
    gap: 32px;
    padding: 32px;
  }

  .one {
    grid-area: 1 / 1 / 2 / 3;
    margin: 0;
  }

  .one__content {
    padding: 64px 32px;
    max-width: 70%;
    margin: 0 auto;
  }

  .one__title {
    font-size: 54px;
    line-height: 48px;
  }

  .two {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0;
  }

  .two__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 24px 24px;
  }

  .two__text {
    font-size: 28px;
    line-height: 26px;
    max-width: 80%;
    align-self: flex-start;
  }

  .three {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
    min-height: 240px;
  }

  .three__text {
    font-size: 28px;
    line-height: 26px;
    max-width: 75%;
  }

  .four {
    grid-area: 3 / 1 / 4 / 3;
    margin: 0;
  }

  .four__content {
    padding: 32px;
    max-width: 60%;
    margin: 0 auto;
  }

  .four__title {
    font-size: 28px;
    line-height: 26px;
  }

  .four__text {
    padding: 0;
  }

  .five {
    grid-area: 4 / 1 / 5 / 3;
    margin: 0;
  }

  .five__content {
    flex-direction: row;
    padding: 24px 90px;
    gap: 40px;
    justify-content: center;
  }

  .five__image {
    margin: 0;
    align-self: center;
    max-width: 260px;
  }

  .five__text {
    font-size: 36px;
    line-height: 32px;
    text-align: left;
  }

  .six {
    grid-area: 5 / 1 / 6 / 3;
    margin: 0;
  }

  .six__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }

  .six__title {
    font-size: 54px;
    line-height: 48px;
  }

  .six__text {
    margin-bottom: 0;
  }

  .six__image {
    width: 30%;
  }

  .seven {
    grid-area: 6 / 1 / 7 / 2;
    margin: 0;
  }

  .seven__content {
    align-items: flex-start;
    padding: 60px 24px;
  }

  .seven__text {
    font-size: 36px;
    line-height: 30px;
    max-width: 90%;
  }

  .eight {
    grid-area: 6 / 2 / 7 / 3;
    margin: 0;
  }

  .eight__text {
    font-size: 36px;
    line-height: 30px;
  }

  /************/
  /* DESKTOP */
  /************/

  @media (min-width: 1440px) {

    .one, .two, .three, .four, .five, .six, .seven, .eight {
      margin: 0;
      height: 100%;
      max-height: unset;
    }
  
    .container {
      padding: 48px 128px;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, auto); 
      gap: 30px;
    }

    .one {
      grid-area: 1 / 2 / 3 / 4;
    }

    .one__content {
      max-width: 100%;
    }

    .one__title {
      font-size: 62px;
      line-height: 56px;
      letter-spacing: -3px;
    }

    .two {
      grid-area: 3 / 2 / 5 / 3;
      overflow: hidden;
    }

    .two__content {
      align-items: start;
    }

    .two__image-wrapper {
      position: relative;
      width: 135%;
    }

    .two__image {
      margin: 0;
    }

    .two__text {
      font-size: 32px;
      line-height: 28px;
      letter-spacing: -2px;
    }

    .three {
      grid-area: 3 / 3 / 5 / 4;
    }

    .three__content {
      padding: 24px 24px 0 24px;
    }

    .three__text {
      margin-bottom: 0px;
      font-size: 32px;
      line-height: 28px;
      letter-spacing: -2px;
      width: 70%;
    }

    .three__image-wrapper {
      position: relative;
      transform: translateY(40%);
    }

    .four {
      grid-area: 1 / 4 / 5 / 5;
      overflow: hidden;
    }

    .four__content {
      padding: 32px 0 32px 32px;
      max-width: none;
    }

    .four__title {
      text-align: left;
      font-size: 32px;
      line-height: 28px;
      letter-spacing: -2px;
      padding-top: 16px;
    }

    .four__image-wrapper {
      position: relative;
      width: 100%;
    }

    .four__image {
      width: 160%;
    }

    .four__text {
      padding-right: 32px;
    }

    .five {
      grid-area: 5 / 3 / 7 / 5;
    }

    .five__content {
      padding: 24px 36px 24px 36px;
      gap: 10px;
    }

    .five__text {
      font-size: 40px;
      line-height: 36px;
      letter-spacing: -2px;
    }

    .six {
      grid-area: 5 / 2 / 7 / 3;
    }

    .six__content {
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
    }

    .six__title {
      font-size: 62px;
      line-height: 58px;
      letter-spacing: -3px;
      margin-bottom: 15px;
    }

    .six__text {
      font-size: 18px;
      line-height: 20px;
      margin: 0;
    }

    .six__image {
      width: 80%;
    }

    .seven {
      grid-area: 1 / 1 / 4 / 2;
    }

    .seven__content {
      padding: 100px 32px;
      height: 100%;
    }

    .seven__text {
      font-size: 40px;
      line-height: 36px;
      letter-spacing: -2px;
    }

    .seven__image {
      width: 100%;
      max-width: 300px;
    }

    .eight {
      grid-area: 4 / 1 / 7 / 2;
    }

    .eight__content {
      justify-content: space-between;
    }

    .eight__text {
      font-size: 40px;
      line-height: 36px;
      letter-spacing: -2px;
      max-width: 70%;
    }

    .eight__image {
      width: 100%;
    }

    footer {
      display: none;
    }
    
  }
}