@import url("./variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

body {
  background-color: #F6F5F6;
}

.one, .five {
  background-color: var(--color-purple-500);
  border-radius: 10px;
  margin: 27px 13.5px 0 13.5px;
}

.two, .six {
  background-color: var(--color-white);
  border-radius: 10px;
  margin: 27px 13.5px 0 13.5px;
}

.three, .eight {
  background-color: var(--color-yellow-500);
  border-radius: 10px;
  margin: 27px 13.5px 0 13.5px;
}

.four {
  background-color: var(--color-purple-100);
  border-radius: 10px;
  margin: 27px 13.5px 0 13.5px;
}

.seven {
  background-color: var(--color-yellow-100);
  border-radius: 10px;
  margin: 27px 13.5px 0 13.5px;
}

.one__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px;
  color: var(--color-white);
}

.one__title {
  font-weight: var(--font-weight-medium);
  font-size: 46px;
  line-height: 42px;
  letter-spacing: -4%;
  text-align: center;
}

.one__title--highlight {
  color: var(--color-yellow-500);
}

.one__title--italic {
  font-style: italic;
}

.one__rating {
  max-height: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}


.two__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  color: var(--color-black);
}

.two__image {
  width: 100%;
  margin-bottom: 16px;
}

.two__text {
  font-weight: var(--font-weight-medium);
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -6%;
}

.three__content {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0 16px;
  color: var(--color-black);
}

.three {
  max-height: 216.25px;
  overflow: hidden;
}

.three__text {
  font-weight: var(--font-weight-medium);
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -6%;
  margin-bottom: 16px;
}

.three__image-wrapper {
  width: 208px;
  max-height: 157px;
  position: relative;
}

.three__image {
  width: 100%;
}

.four__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  color: var(--color-black);
  text-align: center;
}

.four__title {
  font-weight: var(--font-weight-medium);
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -6%;
  margin-bottom: 24px;
}

.four__image {
  width: 100%;
  margin-bottom: 24px;
}

.four__text {
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  padding: 0 16px;
}

.five__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  color: var(--color-white);
}

.five__image {
  width: 100%;
  margin-bottom: 40px;
  max-width: 228px;
}

.five__text {
  font-weight: var(--font-weight-medium);
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -6%;
  text-align: center;
}

.six__content {
  display: flex;
  flex-direction: column;
  color: var(--color-black);
  padding: 24px;
}

.six__title {
  font-weight: var(--font-weight-bold);
  font-size: 46px;
  line-height: 42px;
  letter-spacing: -4%;
  margin-bottom: 15px;
}

.six__text {
  font-weight: var(--font-weight-medium);
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  margin-bottom: 24px;
}

.six__image {
  width: 60%;
}

.seven__content {
  display: flex;
  flex-direction: column;
  padding: 32px;
  color: var(--color-black);
}

.seven__text {
  font-weight: var(--font-weight-medium);
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -6%;
  margin-bottom: 24px;
}

.seven__text--highlight {
  color: var(--color-purple-500);
  font-style: italic;
}

.seven__image {
  width: 60%;
}

.eight__content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  color: var(--color-black);
}

.eight__text{
  font-weight: var(--font-weight-medium);
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -6%;
  margin-bottom: 24px;
}

.eight__image {
  width: 60%;
}

.attribution {
  margin: 24px 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}